{{#if loggedIn}}

<section class="cards">
{{#each cats as |cat| }}
  <div class ='card'> 
    <h1>
    <p>{{cat_name}}</p>
    </h1>
    <h3 class="catname" {{cat.cat_name}}></h3>
    <img class='Image' src="/images/{{cat.filename}}">
      <h4>
      <p>Age: {{cat.age}}</p>
      <p>{{cat.gender}}</p>
      <p>About: {{cat.description}}</p>
      </h4>
  </div>
  {{/each}}
</section>
{{else}}
<a href="/login">You must login first to view any available pets!</a> 
{{/if}}
