{{!-- {{#if loggedIn}}
<section>

{{!-- {{#each dogs as |dog| }} --}}
  <div class ='card'> 
    <h1>

    <p>{{dog_name}}</p>
    </h1>
    <h3 class="dogname" {{dog.dog_name}}></h3>
    <img class='Image' src="/images/{{dog.filename}}">
    <h4>
    <p>Age: {{dog.age}}</p>
    <p>{{dog.gender}}</p>
    <p>About: {{dog.description}}</p>
    </h4>
  </div>
  {{!-- {{/each}} --}}
{{!-- </section>
{{else}} 
 <a href="/login">You must login first to view any available pets!</a>

{{/if}}  --}}

{{/if}}  --}}

  <style>
      body { margin: 20px; padding-bottom: 3rem; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;}

      #form { background: rgba(0, 0, 0, 0.15); padding: 0.25rem; position: fixed; bottom: 10%; left: 50%; right: 0; display: flex; height: 5rem; box-sizing: border-box; backdrop-filter: blur(10px); width: 500px; }
      #input { border: none; padding: 0 1rem; flex-grow: 1; border-radius: 2rem; margin: 0.25rem; }
      #input:focus { outline: none; }
      #form > button { background: #333; border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; outline: none; color: #fff; font-family:fantasy; }

      #messages { list-style-type: none; padding: 2rem;}
      #messages > li { margin: 1rem; padding: 0.5rem 1rem;  border-radius: 10px;}
      #messages > li:nth-child(odd) { background: #1fbe7c; margin-left: 60% }
      #messages > li:nth-child(even) { background: rgb(22, 144, 153); margin-right: 60% }
      #header {text-align: center; font-family:fantasy; margin-top: 5%;}

    </style>
  
  <body>
      <h1 id="header">Chat with us</h1>
    <ul id="messages"></ul>
    <form id="form" action="">
      <input id="input" autocomplete="off" /><button>Send</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
      
        var messages = document.getElementById('messages');
        var form = document.getElementById('form');
        var input = document.getElementById('input');
      
        form.addEventListener('submit', function(e) {
          e.preventDefault();
          if (input.value) {
            socket.emit('chat message', input.value);
            input.value = '';
          }
        });
      
        socket.on('chat message', function(msg) {
          var item = document.createElement('li');
          item.textContent = msg;
          messages.appendChild(item);
          window.scrollTo(0, document.body.scrollHeight);
        });
      </script>
