

{{!-- <section class="cards"> --}}


{{#if loggedIn}}

<section class="cards">
{{#each dogs as |dog| }}
  <div class ='card'> 
    <a href="/dogs/{{id}}">
    <h1>

    <a href="/dogs/{{id}}" 


    <a href="/dogs/{{id}}" class="name"

    <p>{{dog_name}}</p>
    </h1>
    <img class='Image' src="/images/{{dog.filename}}">


    <h3 {{dog.dog_name}}></h3>

      <h4>
      <p>Age: {{dog.age}}</p>
      <p>{{dog.gender}}</p>
      <p>About: {{dog.description}}</p>
      </h4>
  </div>

  </a> 

  

  {{/each}}
</section>

{{else}} 
 <a href="/login">You must login first to view any available pets!</a>
{{/if}}
