{{#if loggedIn}}

<section class="cards">
{{#each exotics as |fancy|}}
  <div class ='card'> 
    <a href="/exotics/{{id}}"class="name">
    <h1>
    <p>{{fancy_name}}</p>
    </h1>
    <h3 class="fancy" {{fancy.fancy_name}}></h3>
    <img class='Image' src="/images/{{fancy.filename}}">
    <h4>
    <p>Age: {{fancy.age}}</p>
    <p>{{fancy.gender}}</p>
    <p>About: {{fancy.description}}</p>
    </h4>
    </a>
  </div>
{{/each}}
</section>

{{else}}
<a href="/login">You must login first to view any available pets!</a>
{{/if}}